// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.en,
.ru {
    display: none;
}

.en:lang(en),
.ru:lang(ru) {
    display: block;
}

#map {
    height: 100%;
}

.cover {
    background-image: url("../img/world_map.svg");
    background-position: left top;
    background-repeat: no-repeat;
}

.cooperation {
    background: linear-gradient(86.51deg, #285180 2.87%, #85b9f4 97.12%);
}

.team {
    position: relative;
    background: url("../img/team.jpg");
    background-size: cover;
    background-position: center;
    z-index: -3;
}

.team::before {
    content: "";
    order: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(86.51deg, #285180 2.87%, #85b9f4 97.12%);
    mix-blend-mode: multiply;
    z-index: -4;
}

.director {
    position: relative;
    background: url("../img/director_bg.jpg");
    background-size: cover;
    background-position: top;
    z-index: -2;
}

.director::after {
    content: "";
    order: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(238, 244, 255, 0.95);
    opacity: 0.8;
    z-index: -1;
}