<div id="about" class="row py-5 mb-md-5 mb-sm-0">
  <div class="col-sm-4 mb-4 mb-sm-0">
    <div
      class="h-100 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="0"
    >
      <img
        src="{{root}}assets/img/hiltm_company_profile_cover_.jpg"
        loading="lazy"
        class="img-fluid rounded wow fadeInUp"
        style="object-fit: cover; height: 100%; width: 100%"
        alt="hitlm-office"
      />
    </div>
  </div>

  <div
    class="
      col-sm-8
      d-flex
      flex-column
      align-items-start
      justify-content-center
      px-sm-3 px-md-4 px-lg-5
    "
  >
    <h2
      class="ru h2 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      Компания «Хил Гурлушык»
    </h2>
    <h2
      class="en h2 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      Company «Hil Gurlushyk»
    </h2>

    <p
      class="ru mb-2 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      У нас есть обширный опыт монтажа промышленного оборудования в комплексе
      или различных его компонентов для заводов или технических установок самого
      разного назначения и сложности.
    </p>
    <p
      class="ru wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      Также, мы предоставляем морские услуги от чартера судов и их комплектации
      и управления до консалтинговых услуг по продаже, аренде, работе с портом и
      т.д.
    </p>

    <p
      class="en mb-2 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      We have extensive experience in assembly of industrial equipment
      completely or separate components for plants or technical units of
      different designation and complexity.
    </p>
    <p
      class="en wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      We also offer marine services ranging from chartering and crewing of
      vessels to consulting services for sales, rental, interaction with the
      port etc.
    </p>

    <a
      class="ru wow fadeInUp mt-4 mb-4 profile_link"
      href="{{root}}assets/files/hiltm_company_profile_ru.pdf"
      target="_blank"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="75"
      >Скачать профайл компании<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="#134074"
        class="bi bi-arrow-down-short"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
        />
      </svg>
    </a>

    <a
      class="en wow fadeInUp mt-4 mb-4 profile_link"
      href="{{root}}assets/files/hiltm_company_profile_en.pdf"
      target="_blank"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="75"
      >Download company profile<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="#134074"
        class="bi bi-arrow-down-short"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
        />
      </svg>
    </a>

    <h3
      class="ru h3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      Сертификация
    </h3>
    <h3
      class="en h3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      Certification
    </h3>

    <div
      class="d-flex h-100"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="75"
    >
      <div class="row">
        <div class="ru col">
          <img
            src="{{root}}assets/img/ISO_9001_TKM_Page_1.jpg"
            loading="lazy"
            class="ru img-fluid rounded mr-4 wow fadeInUp"
            style="object-fit: cover; max-height: 275px; width: 100%"
            alt="hitlm-office"
          />
        </div>
        <div class="ru col">
          <img
            src="{{root}}assets/img/ISO_9001_TKM_Page_2.jpg"
            loading="lazy"
            class="ru img-fluid rounded wow fadeInUp"
            style="object-fit: cover; max-height: 275px; width: 100%"
            alt="hitlm-office"
          />
        </div>

        <div class="en col">
          <img
            src="{{root}}assets/img/ISO_9001_ENG_Page_1.jpg"
            loading="lazy"
            class="en img-fluid rounded mr-4 wow fadeInUp"
            style="object-fit: cover; max-height: 275px; width: 100%"
            alt="hitlm-office"
          />
        </div>
        <div class="en col">
          <img
            src="{{root}}assets/img/ISO_9001_ENG_Page_2.jpg"
            loading="lazy"
            class="en img-fluid rounded wow fadeInUp"
            style="object-fit: cover; max-height: 275px; width: 100%"
            alt="hitlm-office"
          />
        </div>
      </div>
    </div>

    <a
      class="ru wow fadeInUp mt-4 profile_link"
      href="{{root}}assets/files/ISO_9001_TKM.pdf"
      target="_blank"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="75"
      >Скачать сертификат<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="#134074"
        class="bi bi-arrow-down-short"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
        />
      </svg>
    </a>

    <a
      class="en wow fadeInUp mt-4 profile_link"
      href="{{root}}assets/files/ISO_9001_ENG.pdf"
      target="_blank"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="75"
      >Download certificate<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="#134074"
        class="bi bi-arrow-down-short"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
        />
      </svg>
    </a>
  </div>
</div>

<div class="row py-3 mb-5">
  <div class="col-12 col-sm-4 mb-5 mb-sm-0">
    <div class="row">
      <div class="col-lg-2">
        <img
          src="{{root}}assets/img/question.svg"
          class="wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
          alt="who-we-question"
        />
      </div>
      <div class="col-lg-10">
        <h3
          class="ru mt-lg-1 mt-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Кто мы?
        </h3>
        <h3
          class="en mt-lg-1 mt-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Who we?
        </h3>

        <p
          class="ru wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Мы – это именно такой подрядчик, который гордится тем, что самые
          крупные международные компании оказывают нам доверие.
        </p>
        <p
          class="en wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          We are that contractor proud to be trusted by the major international
          companies.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-4 mb-5 mb-sm-0">
    <div class="row">
      <div class="col-lg-2">
        <img
          src="{{root}}assets/img/star.svg"
          class="wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
          data-wow-offset="75"
          alt="who-we-criteries"
        />
      </div>
      <div class="col-lg-10">
        <h3
          class="ru mt-lg-1 mt-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Главные критерии
        </h3>
        <h3
          class="en mt-lg-1 mt-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Main criteria
        </h3>

        <p
          class="ru wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Творческий подход и своевременность, качество и понимание клиента –
          вот главные критерии, которыми мы измеряем наш успех.
        </p>
        <p
          class="en wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Creative approach and timely response, quality and understanding of
          the client are the basic criteria we measure our success by.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-4">
    <div class="row">
      <div class="col-lg-2">
        <img
          src="{{root}}assets/img/main_work.svg"
          class="wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.4s"
          data-wow-offset="75"
          alt="who-we-main-work"
        />
      </div>
      <div class="col-lg-10">
        <h3
          class="ru mt-lg-1 mt-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Основная отрасль
        </h3>
        <h3
          class="en mt-lg-1 mt-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Main industry
        </h3>

        <p
          class="ru wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Основной отраслью наших услуг является нефтегазовая промышленность.
          Надежность и понимание особенностей процессов морских и наземных
          нефтегазовых работ – ключ к успеху.
        </p>
        <p
          class="en wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Main industry of our services for is the oil and gas sector.
          Reliability and understanding the specifics of onshore and offshore
          oil and gas operations is the key to success.
        </p>
      </div>
    </div>
  </div>
</div>
