<div class="row">

    <div class="col-md-6 h-100">
        <h2 class="display-2 text-center text-md-left mb-4 text-uppercase">КОНТАКТЫ</h2>
        <div class="row justify-content-center justify-content-start">
            <div class="col-12 col-sm-5 col-md-6 mb-3">
                <h3>ХО «Хил Гурлушык»</h3>

                <h3 class="mb-0">Адрес:</h3>
                <p>Офисное здание № 30,<br>
                    Улица 2127 (Г. Кулиева),<br>
                    Ашхабад, Туркменистан</p>
            </div>
            <div class="col-12 col-sm-5 col-md-6 mb-5 mb-md-4">
                <div class="d-flex d-md-block">
                    <p class="font-weight-bold text-primary">E-mail:&nbsp;</p>
                    <a href="mailto:info@hiltm.com" class="mb-2 d-block">info@hiltm.com</a>
                </div>

                <div class="d-flex d-md-block">
                    <p class="font-weight-bold text-primary">Телефон:&nbsp;</p>
                    <a href="tel:+993 12 75 44 22" class="mb-2 d-block">+993 12 75-44-22</a>
                </div>

                <div class="d-flex d-md-block">
                    <p class="font-weight-bold text-primary">Факс:&nbsp;</p>
                    <a href="tel:+993 12 75 46 64" class="d-block">+993 12 75-46-64</a>
                </div>
            </div>

            <div class="col-12 mb-5 m-md-0">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="100%" height="260" id="gmap_canvas"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1281.826912904162!2d58.437736829273334!3d37.914080056775305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDU0JzUwLjciTiA1OMKwMjYnMTcuOCJF!5e1!3m2!1sru!2s!4v1530699489725"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: left;
                            height: 100%;
                            width: 100%;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 100%;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-6 px-md-5">
        <h3 class="display-3 text-center text-md-left">Напишите нам</h3>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" placeholder="Введите имя" required>
                    <div class="invalid-feedback">
                        Пожалуйста введите Ваше Имя
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Введите email" required>
                    <p class="small">Мы никогда не передадим вашу электронную почту кому-либо еще.
                    </p>
                    <div class="invalid-feedback">
                        Пожалуйста введите Ваш Email
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="textarea">Сообщение</label>
                    <textarea class="form-control" id="textarea" rows="7" placeholder="Введите сообщение"
                        required></textarea>
                    <div class="invalid-feedback">
                        Пожалуйста введите Ваше сообщение
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>