<div class="row">

    <div class="col-sm-6 col-xl-7">
        <img src="{{root}}assets/img/hiltm_logo.svg" loading="lazy" class="mb-5 mr-4 wow fadeIn" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" height="100" alt="hiltm-logo">
        <img src="{{root}}assets/img/dragon_oil_logo.svg" loading="lazy" class="mb-5 wow fadeIn" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" alt="dragon-oil-logo">

        <h2 class="ru text-white text-uppercase mb-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
            data-wow-offset="75">Сотрудничество с нефтедобывающей компанией Драгон Оил</h2>
        <h2 class="en text-white text-uppercase mb-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
            data-wow-offset="75">Cooperation with the oil-producing Company – Dragon Oil Turkmenistan Limited</h2>

    </div>

    <div class="col-sm-6 col-xl-5 d-none d-sm-block">
        <img src="{{root}}assets/img/oil.png" loading="lazy" class="img-fluid d-none d-xl-block wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" style="margin-top: -180px;" alt="dragon-oil-logo">
        <img src="{{root}}assets/img/oil.png" loading="lazy" class="img-fluid d-none d-lg-block d-xl-none wow fadeInUp"
            data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75" style="margin-top: -165px;"
            alt="dragon-oil-logo">
        <img src="{{root}}assets/img/oil.png" loading="lazy" class="img-fluid d-none d-md-block d-lg-none wow fadeInUp"
            data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75" style="margin-top: -100px;"
            alt="dragon-oil-logo">
        <img src="{{root}}assets/img/oil.png" loading="lazy" class="img-fluid d-none d-sm-block d-md-none wow fadeInUp"
            data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75" style="margin-top: -30px;"
            alt="dragon-oil-logo">
    </div>

    <div class="col-md-6 col-lg-5 mb-4">

        <p class="ru text-white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Начиная с
            2013 года, когда ХО "Хил Гурлушык" подписала первый контракт с компанией Драгон Оил Туркменистан Лимитед, мы
            оказываем поддержку для Компании в сферах поставки различного оборудования.</p>
        <p class="en text-white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Since
            2013, when ES "Hil Gurlushyk" signed the first contract with Dragon Oil Turkmenistan Limited, we provide
            support to the Company in the supply of various equipment.</p>

    </div>

    <div class="col-md-6 col-lg-5 mb-4">

        <p class="ru text-white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Помимо
            этого, мы предоставляем тяжелую и специализированную технику для выполнения проектов любой сложности и
            квалифицированную рабочую силу для выполнения работ на проектах в Каспийском шельфе.</p>
        <p class="en text-white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">In
            addition, we provide heavy and specialized equipment for carrying out projects of any complexity and skilled
            labor for carrying out work on projects in the Caspian offshore block.</p>

    </div>

    <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <img src="{{root}}assets/img/cooperation_2.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
            height: 100%; width: 100%;" alt="pipe">
    </div>
    <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <img src="{{root}}assets/img/cooperation_1.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover; height: 100%; width: 100%;" alt="pipe">
    </div>

    <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <img src="{{root}}assets/img/cooperation_3.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover; height: 100%; width: 100%;" alt="pipe">
    </div>
    <div class="col-sm-6 col-lg-3">
        <img src="{{root}}assets/img/cooperation_4.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
            height: 100%; width: 100%;" alt="pipe">
    </div>
</div>