<div class="row">

    <div class="col-sm-6 col-xl-7">
        <img src="./assets/img/hiltm_logo.png" class="mb-5 mr-4 revealator-fade revealator-once" height="100"
            alt="hiltm-logo">
        <img src="./assets/img/dragon_oil_logo.svg" class="mb-5 revealator-fade revealator-delay1 revealator-once"
            alt="dragon-oil-logo">

        <h2 class="ru text-white text-uppercase mb-4 revealator-slideup revealator-once">Сотрудничество с
            нефтедобывающей компанией Драгон Оил</h2>
        <h2 class="en text-white text-uppercase mb-4 revealator-slideup revealator-once">Cooperation with the
            oil-producing Company – Dragon Oil Turkmenistan Limited</h2>

    </div>

    <div class="col-sm-6 col-xl-5 d-none d-sm-block">
        <img src="./assets/img/oil.png"
            class="img-fluid d-none d-xl-block revealator-slideleft revealator-delay2 revealator-once"
            style="margin-top: -200px;" alt="dragon-oil-logo">
        <img src="./assets/img/oil.png"
            class="img-fluid d-none d-lg-block d-xl-none revealator-slideleft revealator-delay2 revealator-once"
            style="margin-top: -175px;" alt="dragon-oil-logo">
        <img src="./assets/img/oil.png"
            class="img-fluid d-none d-md-block d-lg-none revealator-slideleft revealator-delay2 revealator-once"
            style="margin-top: -100px;" alt="dragon-oil-logo">
        <img src="./assets/img/oil.png"
            class="img-fluid d-none d-sm-block d-md-none revealator-slideleft revealator-delay2 revealator-once"
            style="margin-top: -30px;" alt="dragon-oil-logo">
    </div>

    <div class="col-md-6 col-lg-5 mb-3 mb-md-0">

        <p class="ru text-white revealator-slideup revealator-delay1 revealator-once">Начиная с 2013 года, когда Х.О.
            Хил
            Гурлушык подписала первый контракт с компанией Драгон Оил Туркменистан Лимитед, мы оказываем поддержку для
            Компании в сферах поставки различного оборудования.</p>
        <p class="en text-white revealator-slideup revealator-delay1 revealator-once">Since 2013, when E.S. Hil
            Gurlushyk signed the first contract with Dragon Oil Turkmenistan Limited, we provide support to the Company
            in the supply of various equipment.</p>

    </div>

    <div class="col-md-6 col-lg-5">

        <p class="ru text-white revealator-slideup revealator-delay2 revealator-once">Помимо этого, мы предоставляем
            тяжелую и специализированную технику для выполнения проектов любой сложности и квалифицированную рабочую
            силу для выполнения работ на проектах в Каспийском шельфе.</p>
        <p class="en text-white revealator-slideup revealator-delay2 revealator-once">In addition, we provide heavy and
            specialized equipment for carrying out projects of any complexity and skilled labor for carrying out work on
            projects in the Caspian offshore block.</p>


    </div>
</div>