<div class="row py-5">
  <div
    id="cover"
    class="col-md-6 d-flex flex-column align-items-start justify-content-center"
  >
    <h1
      class="ru wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="50"
    >
      МОНТАЖНЫЕ И СБОРОЧНЫЕ РАБОТЫ
    </h1>
    <h1
      class="en wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0s"
      data-wow-offset="50"
    >
      ASSEMBLY AND INSTALLATION
    </h1>

    <p
      class="ru w-75 mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="50"
    >
      Компания «Хил Гурлушык» выполняет промышленные проекты различных масштабов
      в нескольких направлениях: монтаж и сборка промышленного оборудования всех
      типов а также общестроительные работы и морские услуги.
    </p>
    <p
      class="en w-75 mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="50"
    >
      Company "Hil Gurlushyk" carries out industrial projects of different
      scales in few areas: assembly and installation of any industrial equipment
      as well as provision of construction and marine services.
    </p>

    {{> button}}
  </div>

  <div
    class="col-md-6 equipment-wrap d-none d-md-block wow fadeIn"
    data-wow-duration="1s"
    data-wow-delay="0.4s"
  >
    <img
      src=" {{root}}assets/img/IMC31-0127.gif"
      id="equipment-img"
      loading="lazy"
      class="img-fluid"
      alt="heavy-equipment"
    />
  </div>
</div>
