<div class="col-12 text-center">
    <img src="{{root}}assets/img/hiltm_logo.svg" loading="lazy" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0s"
        data-wow-offset="75" style="margin-top: -125px;" height="100" alt="hiltm-logo">
</div>

<h2 class="ru display-2 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">«Мы —
    компания, которой отдают предпочтение...»</h2>
<h2 class="en display-2 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">«We
    are the company of preference...»</h2>

<h3 class="ru display-3 text-center text-secondary mb-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">Директор компании<br>Тойли Атаниязов</h3>
<h3 class="en display-3 text-center text-secondary mb-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">Director<br>Toyli Ataniyazov</h3>