<footer class="footer pb-5">
    <div class="container">
        <hr>
        <nav id="footernav" class="mb-3">
            {{> nav_both}}

        </nav>
        <p class="ru font-weight-light text-center text-md-left small">© 2020 ХО «Хил Гурлушык». Все права защищены.</p>
        <p class="en font-weight-light text-center text-md-left small">© 2020 ES "Hil Gurlushyk". All rights reserved.
        </p>
    </div>



</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->