<h2 class="ru display-2 text-center mb-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">Тяжелая техника</h2>
<h2 class="en display-2 text-center mb-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">Heavy & Specialized Equipment</h2>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/crane.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="crane-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Автокраны</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Mobile Cranes</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/excavator.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="excavator-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Экскаваторы</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Excavators</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/crawler.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="crawler-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Трубоукладчики</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Pipe layers</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./{{root}}assets/img/dumper.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="dumper-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Самосвалы</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Dump Trucks</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/loader.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="loader-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Погрузчики</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Bucket Loaders</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/buldozer.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="buldozer-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Бульдозеры</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Bulldozers</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/greyder.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="greyder-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Грейдеры</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Graders</h3>

            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="{{root}}assets/img/treyler.svg" class="align-self-center wow fadeInUp" data-wow-duration="1s"
                data-wow-delay="0s" data-wow-offset="75" height="110" alt="treyler-icon">
            <div class="card-body text-center">

                <h3 class="ru card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Трейлеры</h3>
                <h3 class="en card-title display-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">Trailers</h3>

            </div>
        </div>
    </div>

</div>

<div class="media px-3 px-sm-5">
    <img src="{{root}}assets/img/!.svg" class="mr-3 align-self-md-center wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0s" data-wow-offset="75" alt="!">

    <div class="ru media-body text-secondary wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
        data-wow-offset="75"> Перечень тяжёлой техники не ограничивается единицами, указанными на вебсайте. Под каждый
        отдельный проект мы способны нарастить и расширить наш парк техники под нужды клиента.
    </div>
    <div class="en media-body text-secondary wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
        data-wow-offset="75">The list of heavy equipment is not limited to the units indicated on the website. For each
        individual project, we are able to build up and expand our fleet of equipment to the needs of the client.
    </div>

</div>