<h2 class="display-2 text-center mb-5 text-uppercase revealator-slideup revealator-once">Тяжелая техника</h2>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/crane.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="crane-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Автокраны</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/excavator.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="excavator-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Экскаваторы</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/crawler.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="crawler-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Трубоукладчики</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/dumper.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="dumper-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Погрузчики</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/loader.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="loader-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Самосвалы</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/buldozer.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="buldozer-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Бульдозеры</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/greyder.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="greyder-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Грейдеры</h5>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-0">
            <img src="./assets/img/treyler.svg" class="align-self-center revealator-slideup revealator-once" height="110" alt="treyler-icon">
            <div class="card-body text-center">
                <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Трейлеры</h5>
            </div>
        </div>
    </div>

</div>

<div class="media px-3 px-sm-5">
    <img src="./assets/img/!.svg" class="mr-3 align-self-md-center revealator-slideright revealator-once" alt="!">
    <div class="media-body text-secondary revealator-slideleft revealator-once">
        Перечень тяжёлой техники не ограничивается единицами, указанными на вебсайте. Под каждый отдельный проект мы
        способны нарастить и расширить наш парк техники под нужды клиента.
    </div>
</div>