<ul class="nav mr-auto d-flex pl-0 justify-content-center justify-content-md-start">
    <li class="nav-item active">
        <a class="nav-link text-primary font-weight-normal pl-md-0" href="#nav"><span class="ru">Главная</span><span class="en">Home</span><span
                class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item px-2">
        <a class="nav-link text-primary font-weight-normal" href="#about"><span class="ru">О нас</span><span class="en">About Us</span></a>
    </li>
    <li class="nav-item px-2">
        <a class="nav-link text-primary font-weight-normal" href="#services"><span class="ru">Услуги</span><span class="en">Services</span></a>
    </li>
    <li class="nav-item px-2">
        <a class="nav-link text-primary font-weight-normal" href="#resources"><span class="ru">Ресурсы</span><span class="en">Resources</span></a>
    </li>
    <li class="nav-item px-2">
        <a class="nav-link text-primary font-weight-normal" href="#contacts"><span class="ru">Контакты</span><span class="en">Contacts</span></a>
    </li>
</ul>
