<nav id="nav" class="navbar navbar-light bg-transparent pt-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75"">

    <div class="container d-none d-lg-flex">
    <a class="navbar-brand mr-5" href="/">
        <img src="{{root}}assets/img/hiltm_logo.svg" alt="Hiltm logo" loading="lazy">
    </a>
    {{> nav_both}}
    {{> lang}}
    </div>

    <div class="container px-0 px-lg-3 d-flex d-lg-none">
        <a class="navbar-brand mr-5" href="/">
            <img src="{{root}}assets/img/hiltm_logo.svg" alt="Hiltm logo" loading="lazy">
        </a>
    </div>

</nav>

{{> burger_menu}}