<nav id="nav"
    class="navbar navbar-expand-lg navbar-light bg-transparent d-none d-md-block pt-3 revealator-fade revealator-once">
    <div class="container">
        <a class="navbar-brand mr-5" href="#">
            <img src="./assets/img/hiltm_logo.png" alt="Hiltm logo" loading="lazy">
        </a>
        {{> nav_both}}
        {{> lang}}
    </div>
</nav>

<nav id="nav"
    class="navbar navbar-expand-lg navbar-light bg-transparent d-block d-md-none pt-3 revealator-fade revealator-once">
    <div class="container">
        <a class="navbar-brand mr-5" href="#">
            <img src="./assets/img/hiltm_logo.png" alt="Hiltm logo" loading="lazy">
        </a>
    </div>
</nav>










{{> burger_menu}}