<h2 class="ru display-2 text-center mb-3 mb-md-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Ресурсы Компании</h2>
<h2 class="en display-2 text-center mb-3 mb-md-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Company Resources</h2>

<div class="card-deck">

    <div class="card border-0 mb-5 mb-sm-0">
        <img src="{{root}}assets/img/office_icon_2x.png" loading="lazy" class="card-img-top wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75" alt="office-icon">
        <div class="card-body text-center">

            <h3 class="ru card-title display-3 wow fadeInUp mb-0" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Головной офис<br>
                г. Ашхабад</h3>
            <h3 class="en card-title display-3 wow fadeInUp mb-0" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Central office<br>
                Ashgabat c.</h3>
                
        </div>
    </div>

    <div class="card border-0 mb-3 mb-sm-0">
        <img src="{{root}}assets/img/workstation_icon_2x.png" loading="lazy" class="card-img-top wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="75" style="margin-top: -40px;"
            alt="workstation-icon">
        <div class="card-body text-center">

            <h3 class="ru card-title display-3 wow fadeInUp mb-0" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="75">Операционная база<br>
                Хазар, Балканский велаят</h3>
            <h3 class="en card-title display-3 wow fadeInUp mb-0" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="75">Operational base<br>
                Khazar, Balkan region</h3>

        </div>
    </div>

    <div class="card border-0">
        <img src="{{root}}assets/img/warehouse_icon_2x.png" loading="lazy" class="card-img-top wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="75" alt="warehouse-icon">
        <div class="card-body text-center">
            
            <h3 class="ru card-title display-3 wow fadeInUp mb-0" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="75">Складские помещения<br>
                г. Ашхабад</h3>
            <h3 class="en card-title display-3 wow fadeInUp mb-0" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="75">Warehouse facilities<br>
                Ashgabat c.</h3>

        </div>
    </div>

</div>