<h2 class="display-2 text-center mb-5 text-uppercase revealator-slideup revealator-once">Ресурсы Компании</h2>

<div class="card-deck">

    <div class="card border-0 mb-5 mb-sm-0">
        <img src="./assets/img/office_icon@2x.png" class="card-img-top revealator-slideup revealator-once" alt="office-icon">
        <div class="card-body text-center">
            <h3 class="card-title display-3 revealator-slideup revealator-delay1 revealator-once">Головной офис<br>
                г. Ашхабад</h3>
        </div>
    </div>

    <div class="card border-0 mb-3 mb-sm-0">
        <img src="./assets/img/workstation_icon@2x.png" class="card-img-top revealator-slideup revealator-delay1 revealator-once" style="margin-top: -40px;"
            alt="workstation-icon">
        <div class="card-body text-center">
            <h3 class="card-title display-3 revealator-slideup revealator-delay2 revealator-once">Операционная База<br>
                Хазар, Балканский велаят</h3>
        </div>
    </div>

    <div class="card border-0">
        <img src="./assets/img/warehouse_icon@2x.png" class="card-img-top revealator-slideup revealator-delay2 revealator-once" alt="warehouse-icon">
        <div class="card-body text-center">
            <h3 class="card-title display-3 revealator-slideup revealator-delay3 revealator-once">Складские помещения<br>
                г. Ашхабад</h3>
        </div>
    </div>

</div>