<h2 class="ru display-2 text-center mb-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">УСЛУГИ ВКЛЮЧАЮТ В СЕБЯ:</h2>
<h2 class="en display-2 text-center mb-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">The services are as below:
</h2>

<div class="row mb-5">
    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж крупногабаритного <br>технологического оборудования
                </p>
                <p class="en text-primary lead">Assembly of large-sized <br>technological equipment</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж общепромышленного оборудования</p>
                <p class="en text-primary lead">Assembly of general industrial equipment</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж насосно-компрессорного оборудования</p>
                <p class="en text-primary lead">Assembly of pump and compressor equipment</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж внутризаводских трубопроводов</p>
                <p class="en text-primary lead">Assembly of intra-plant pipelines</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж резервуаров для воды</p>
                <p class="en text-primary lead">Assembly of water reservoirs</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Сборка металлоконструкций</p>
                <p class="en text-primary lead">Assembly of metal structures</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж куллеров и чиллеров</p>
                <p class="en text-primary lead">Assembly of coolers and chillers</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Монтаж систем обратного осмоса</p>
                <p class="en text-primary lead">Assembly of reverse osmosis system</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Сборка систем вентиляции</p>
                <p class="en text-primary lead">Assembly of ventilation system</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Аргонная сварка</p>
                <p class="en text-primary lead">Argon shield welding</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-3 mb-3">
        <div class="card shadow border-0 text-center text-sm-left wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75">
            <div class="card-body">

                <p class="ru text-primary lead">Электромонтажные работы</p>
                <p class="en text-primary lead">Electric works</p>

            </div>
        </div>
    </div>

</div>