<h2 class="ru display-2 text-center mb-3 mb-md-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">УСЛУГИ ВКЛЮЧАЮТ В СЕБЯ:</h2>
<h2 class="en display-2 text-center mb-3 mb-md-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">The services are as below:
</h2>


<div class="row justify-content-lg-end">

    <div class="col-lg-11">

        <div class="row py-3 mb-lg-5">

            <div class="col-sm-6 col-md-4 mb-5">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-center mb-3 mb-lg-0"><img src="{{root}}assets/img/montaj.png" height="76"
                            class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75"
                            alt="montaj_icon"></div>
                    <div class="col-lg-9">

                        <h3 class="ru lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Монтаж крупногабаритного<br>оборудования</h3>
                        <h3 class="en lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Assembly of<br>large-sized equipment</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-5">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-center mb-3 mb-lg-0"><img src="{{root}}assets/img/pipe.png" height="76"
                            class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75"
                            alt="pipe_icon"></div>
                    <div class="col-lg-9">

                        <h3 class="ru lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Монтаж<br>трубопроводов</h3>
                        <h3 class="en lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Assembly of<br>pipelines</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-5">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-center mb-3 mb-lg-0"><img src="{{root}}assets/img/metall.png" height="76"
                            class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75"
                            alt="metall_icon"></div>
                    <div class="col-lg-9">

                        <h3 class="ru lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Сборка<br>металлоконструкций</h3>
                        <h3 class="en lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Assembly of<br>metal structures</h3>

                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 mb-5 mb-sm-0">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-center mb-3 mb-lg-0"><img src="{{root}}assets/img/ventilation.png"
                            height="76" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                            data-wow-offset="75" alt="ventilation_icon">
                    </div>
                    <div class="col-lg-9">

                        <h3 class="ru lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Сборка<br>систем вентиляции</h3>
                        <h3 class="en lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Assembly of<br>ventilation system</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-5 mb-sm-0">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-center mb-3 mb-lg-0"><img src="{{root}}assets/img/svarka.png" height="76"
                            class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75"
                            alt="svarka_icon"></div>
                    <div class="col-lg-9">

                        <h3 class="ru lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Все виды<br>сварочных работ</h3>
                        <h3 class="en lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            All types of<br>welding</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-center mb-3 mb-lg-0"><img src="{{root}}assets/img/electric.png"
                            height="68" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                            data-wow-offset="75" alt="electric_icon"></div>
                    <div class="col-lg-9">

                        <h3 class="ru lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Электромонтажные<br>работы</h3>
                        <h3 class="en lead text-center text-lg-left mb-0 wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s" data-wow-offset="75">
                            Electric<br>works</h3>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>