<h2 class="ru display-2 text-center mb-5 text-uppercase">УСЛУГИ ВКЛЮЧАЮТ В СЕБЯ:</h2>
<h2 class="en display-2 text-center mb-5 text-uppercase">The services are as below:
</h2>

<div class="row mb-5">
    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж крупногабаритного <br>технологического оборудования</p>
        <p class="en text-primary font-weight-bold">Assembly of large-sized <br>technological equipment</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж общепромышленного <br>оборудования</p>
        <p class="en text-primary font-weight-bold">Assembly of general <br>industrial equipment</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж резервуаров <br>для воды</p>
        <p class="en text-primary font-weight-bold">Assembly of water <br>reservoirs</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж внутризаводских <br>трубопроводов</p>
        <p class="en text-primary font-weight-bold">Assembly of intra-plant <br>pipelines</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Сборка <br>металлоконструкций</p>
        <p class="en text-primary font-weight-bold">Assembly of metal <br>structures</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Сборка <br>систем вентиляции</p>
        <p class="en text-primary font-weight-bold">Assembly of <br>ventilation system</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж насосно-<br>компрессорного оборудования</p>
        <p class="en text-primary font-weight-bold">Assembly of pump and <br>compressor equipment</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж систем <br>обратного осмоса</p>
        <p class="en text-primary font-weight-bold">Assembly of reverse <br>osmosis system</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Аргонная <br>сварка</p>
        <p class="en text-primary font-weight-bold">Argon <br>shield welding</p>

    </div>
    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Электромонтажные <br>работы</p>
        <p class="en text-primary font-weight-bold">Electric <br>works</p>

    </div>

    <div class="col-sm-4 col-lg-3 py-3 text-center text-sm-left">

        <p class="ru text-primary font-weight-bold">Монтаж куллеров и <br>чиллеров</p>
        <p class="en text-primary font-weight-bold">Assembly of coolers and <br>chillers</p>

    </div>

</div>