<div class="row justify-content-center">

    <div class="col-xxl-10">

        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="card border-0 shadow p-2 h-100 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-3 mb-4 mb-lg-0"><img src="{{root}}assets/img/eye.svg" alt="eye"></div>
                            <div class="col-lg-9">

                                <h3 class="ru">Видение</h3>
                                <h3 class="en">Vision</h3>


                                <p class="ru">Быть компанией, предлагающей новаторские решения в различных аспектах
                                    нефтегазовой и морской промышленности, которой отдают предпочтение.</p>
                                <p class="en">To be a preferred company providing innovative solutions in various
                                    aspects of the oil, gas and marine industry.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-4">
                <div class="card border-0 shadow p-2 h-100  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-3 mb-4 mb-lg-0"><img src="{{root}}assets/img/purpose.svg" alt="purpose">
                            </div>
                            <div class="col-lg-9">

                                <h3 class="ru">Цели</h3>
                                <h3 class="en">Purpose</h3>


                                <p class="ru">Расширять наш бизнес и идти к новым горизонтам, осуществляя все работы
                                    безопасно и надежно а также снижать риски партнеров и клиентов.</p>

                                <p class="en">Expand our business and go to new horizons, carrying out all work safely
                                    and reliably, as well as reducing the risks of partners and clients.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-4 mb-sm-0">
                <div class="card border-0 shadow p-2 h-100  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-3 mb-4 mb-lg-0"><img src="{{root}}assets/img/mission.svg" alt="misson">
                            </div>
                            <div class="col-lg-9">


                                <h3 class="ru">Миссия</h3>
                                <h3 class="en">Mission</h3>


                                <p class="ru">Работать в строительной, нефтегазовой и морской промышленности,
                                    предоставлять лучшие профессиональные услуги, постоянно развиваться и
                                    совершенствоваться в том, что мы делаем, вносить вклад в экономику.</p>
                                <p class="en">Work in the construction, oil and gas and marine industries, provide the
                                    best professional services, continually develop and improve in what we do,
                                    contribute to the economy.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card border-0 shadow p-2 h-100 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
                    data-wow-offset="75">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-3 mb-4 mb-lg-0"><img src="{{root}}assets/img/strategy.svg"
                                    alt="strategy">
                            </div>
                            <div class="col-lg-9">

                                <h3 class="ru">Стратегия</h3>
                                <h3 class="en">Strategy</h3>


                                <p class="ru">Последовательно и регулярно улучшать качество предоставляемых услуг,
                                    инвестировать в дальнейшее развитие и повышение профессионального уровня персонала
                                    компании.</p>
                                <p class="en">Consistently and regularly improve the quality of services provided,
                                    invest in further development and professional development of the company's
                                    personnel.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>