<div class="row py-5">

    <div class="col-12">
        <h2 class="display-2 text-center mb-5 text-uppercase text-white order-1 revealator-slideup revealator-once">
            КОМАНДА</h2>
    </div>

    <div class="col-12 col-md-6 mb-5 px-4 px-sm-5 px-lg-3">
        <div class="row">
            <div class="col-lg-2 text-lg-center"><img src="{{root}}assets/img/osnovateli.svg"
                    class="revealator-slideup revealator-once" alt="icon-award"></div>
            <div class="col-lg-10">
                <h3 class="mt-lg-1 mt-3 text-white revealator-slideup revealator-once">Основатели</h3>
                <p class="text-white revealator-slideup revealator-delay1 revealator-once">Основатели «Хил Гурлушык» с
                    первых дней создания компании уделяют особое внимание
                    на абсолютную важность
                    наличия слаженной команды. Команда нашей компании – это тщательно отобранные профессионалы своего
                    дела.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-5 px-4 px-sm-5 px-lg-3">
        <div class="row">
            <div class="col-lg-2 text-lg-center"><img src="{{root}}assets/img/icon_rost.svg"
                    class="revealator-slideup revealator-delay1 revealator-once" alt="icon-rost"></div>
            <div class="col-lg-10">
                <h3 class="mt-lg-1 mt-3 text-white revealator-slideup revealator-delay1 revealator-once">
                    Профессиональный рост</h3>
                <p class="text-white revealator-slideup revealator-delay2 revealator-once">Только желание, талант и
                    упорство могут сделать
                    так, чтобы наша компания продолжала
                    поступательное движение и достигала
                    поставленных целей. Поэтому мы создаем условия
                    для профессионального роста молодых специалистов.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-5 mb-md-0 px-4 px-sm-5 px-lg-3">
        <div class="row">
            <div class="col-lg-2 text-lg-center"><img src="{{root}}assets/img/icon_ponyatiya.svg"
                    class="revealator-slideup revealator-once" alt="icon-ponyatiya"></div>
            <div class="col-lg-10">
                <h3 class="mt-lg-1 mt-3 text-white revealator-slideup revealator-once">Понятия</h3>
                <p class="text-white revealator-slideup revealator-delay1 revealator-once">Мы в «Хил Гурлушык» считаем,
                    что только вместе
                    мы можем достигать поставленных задач. В нашей
                    команде нет разницы по важности между
                    должностями – каждый специалист одинакого
                    важен.
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 px-4 px-sm-5 px-lg-3">
        <div class="row">
            <div class="col-lg-2 text-lg-center"><img src="{{root}}assets/img/icon_specialist.svg"
                    class="revealator-slideup revealator-delay1 revealator-once" alt="icon-specialist">
            </div>
            <div class="col-lg-10">
                <h3 class="mt-lg-1 mt-3 text-white revealator-slideup revealator-delay1 revealator-once">Сильные
                    специалисты</h3>
                <p class="text-white revealator-slideup revealator-delay2 revealator-once">Сильные специалисты – вот
                    главный капитал нашей компании: от инженеров в разных
                    областях работы до специалистов узкой направленности.
                </p>
            </div>
        </div>
    </div>

</div>