<h2 class="ru display-2 text-center mb-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">МОНТАЖНЫЕ И СБОРОЧНЫЕ РАБОТЫ
</h2>
<h2 class="en display-2 text-center mb-5 text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"
    data-wow-offset="75">ASSEMBLY AND INSTALLATION
</h2>

<div class="row mb-2 mb-sm-5 mb-lg-4">

    <div
        class="col-md-7 col-sm-8 d-flex flex-column align-items-start justify-content-center px-sm-3 px-md-4 px-lg-5 order-1 order-sm-0 mb-5 mb-sm-0">

        <h3 class="ru h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Разработка
            проекта</h3>
        <h3 class="en h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Project
            development</h3>


        <p class="ru wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Монтажные и
            сборочные работы требуют организации процессов от геодезической съемки и разметки фундамента до установки и
            монтажа оборудования с использованием специальных средств. Наши специалисты детально разработают проект
            работ для его строгого выполнения.</p>
        <p class="en wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Assembly and
            installation works require organization of certain processes from geodesic survey and mapping of basement to
            installation and assembly of equipment using specialized tools. Our specialists first develop schedule of
            works for strict adherence.
        </p>


    </div>


    <div class="col-md-5 col-sm-4 mb-4 mb-sm-0 order-0 order-sm-1">
        <img src="{{root}}assets/img/razrabotka_project.png" loading="lazy" class="img-fluid rounded wow fadeInUp"
            data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
            height: 100%; width: 100%;" alt="hitlm-office">
    </div>
</div>

<div class="row mb-2 mb-sm-5 mb-lg-4">

    <div
        class="col-md-7 col-sm-8 d-flex flex-column align-items-start justify-content-center px-sm-2 px-md-3 px-lg-5 order-3 order-sm-3 mb-5 mb-sm-0">

        <h3 class="ru h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Монтаж и сборка
        </h3>
        <h3 class="en h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Assembly and
            installation</h3>


        <p class="ru wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Осуществляем монтаж и
            сборку оборудования различных габаритов для объектов любой сложности и типов, от отдельных установок до
            комплексов для технологической цепочки.</p>
        <p class="en wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">We do assembly and
            installation of equipment of various dimensions for industrial projects of any complexity and types from
            separate units to integrated lines for technological processes.</p>
    </div>

    <div class="col-md-5 col-sm-4 mb-4 mb-sm-0 order-2 order-sm-2">
        <img src="{{root}}assets/img/montaj_sborka.png" loading="lazy" class="img-fluid rounded wow fadeInUp"
            data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
            height: 100%; width: 100%;" alt="hitlm-office">
    </div>

</div>

<div class="row mb-2 mb-sm-5 mb-lg-4">

    <div
        class="col-md-7 col-sm-8 d-flex flex-column align-items-start justify-content-center px-sm-3 px-md-4 px-lg-5 order-5 order-sm-4 mb-5 mb-sm-0">

        <h3 class="ru h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Доставка и сроки
        </h3>
        <h3 class="en h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Delivery and
            terms</h3>


        <p class="ru wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Эффективно и в срок
            доставим на объект требуемое оборудование для грузоподъемных работ и необходимый инструмент. Наши монтажники
            и инженеры выполнят работы в соответствии с требованиями клиента.
        </p>
        <p class="en wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">We deliver equipment
            for lifting operations and the required instrumentation to the site in time and with high efficiency. Our
            assembly specialists and engineers complete the job in accordance with a client requirement.
        </p>


    </div>

    <div class="col-md-5 col-sm-4 mb-4 mb-sm-0 order-4 order-sm-5">
        <img src="{{root}}assets/img/dostavka_sroki.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
            height: 100%; width: 100%;" alt="hitlm-office">
    </div>

</div>

<div class="row mb-2 mb-3 mb-lg-5 pb-lg-4">

    <div
        class="col-md-7 col-sm-8 d-flex flex-column align-items-start justify-content-center px-sm-2 px-md-3 px-lg-5 order-3 order-sm-3 mb-5 mb-sm-0">

        <h3 class="ru h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Готовность</h3>
        <h3 class="en h3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Readiness</h3>


        <p class="ru wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">На сегодняшний
            день в компании работают те же специалисты, которые проводили трубопровод «Восток-Запад». Мы выстроили
            инфраструктуру компании таким образом, что можем приступить к проектам по прокладке трубопроводов
            немедленно.</p>
        <p class="en wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="75">Today, the company
            employs the same specialists who carried out the East-West pipeline. We have built the company's
            infrastructure in such a way that we can start pipeline projects immediately.
        </p>

    </div>

    <div class="col-md-5 col-sm-4 mb-4 mb-sm-0 order-2 order-sm-2">
        <div class="row">
            <div class="col-6 p-1">
                <img src="{{root}}assets/img/pipe_2.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover; height: 100%; width: 100%;"
                    alt="pipe">
            </div>
            <div class="col-6 p-1">
                <img src="{{root}}assets/img/pipe_1.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
                height: 100%; width: 100%;" alt="pipe">
            </div>
            <div class="col-6 p-1">
                <img src="{{root}}assets/img/pipe_4.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
                height: 100%; width: 100%;" alt="pipe">
            </div>
            <div class="col-6 p-1">
                <img src="{{root}}assets/img/pipe_3.png" loading="lazy" class="img-fluid rounded wow fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0s" data-wow-offset="75" style="object-fit: cover;
                height: 100%; width: 100%;" alt="pipe">
            </div>
        </div>

    </div>

</div>